# Example .envrc for host development
# 
# Keep in mind that this file won't be copied to the .devcontainer by default
# You can adjust .devcontainer/.envrc instead
#
# You can inject secrets using sops:
# if has sops; then
#  export ANTHROPIC_AUTH_TOKEN=$(sops -d --extract '["service"]["api_key"]' ~/path/to/secrets.yaml)
# fi

# Or use 1password CLI:
# if has op; then
#   export ANTHROPIC_AUTH_TOKEN=$(op item get --fields label=password "My API Key")
# fi

# Create .envrc in the project root and customize to your liking, e.g.:
# source_env .envrc.template

# Run nix by default
use flake .
