# env file
.env
.envrc

# Editor/IDE
# .idea/
# .vscode/
.direnv/
result*
.devcontainer/docker-compose.override.yml
.devcontainer/.envrc

# AI
.serena/
.mcp.json
.claude/

# lock files
shells/*/flake.lock
templates/*flake.lock

# pre-commit hooks
.pre-commit-config.yaml
/repos/